<h1>Comptel AFOM API</h1>

<h2>Accepted query params:</h2>
<hr>
<h3>Pagination</h3>
<ul>
    <li>page - sets the page of results | default is 1</li>
    <li>rows - sets the number of values to return | default is 25</li>
</ul>
<hr>
<h3>Search</h3>
<p>both parameters are required for search to work</p>
<ul>
    <li>search - the item to search for</li>
    <li>in - which column to search in</li>
</ul>
<hr>
<h3>Sort</h3>
<p>to invert the sort, add a minuse (-) at the start of the column name</p>
<ul>
    <li>sort - the column to sort by</li>
</ul>
<hr>
<p>An example GET request:</p>
<ul>
    <li>https://comptel-api.herokuapp.com/api/resolutions?page=1&rows=100&sort=-creation_timestamp&in=status&search=STARTED</li>
</ul>
