<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comptel AFOM API</title>
</head>
<body>
    <h1>Comptel AFOM API</h1>

    <h2>Routes</h2>
    <ul>
        <li><a href="https://comptel-api.herokuapp.com/api/resolutions">https://comptel-api.herokuapp.com/api/resolutions</a></li>
        <li><a href="https://comptel-api.herokuapp.com/api/fallouts">https://comptel-api.herokuapp.com/api/fallouts</a></li>
        <li><a href="https://comptel-api.herokuapp.com/api/details/AFOM00013">https://comptel-api.herokuapp.com/api/details/:FalloutID</a></li>
    </ul>
    <hr>
    <h2>Accepted query params for Fallouts & Resolutions:</h2>
    <h3>Pagination</h3>
    <ul>
        <li>page - sets the page of results | default is 1</li>
        <li>rows - sets the number of values to return | default is 25</li>
    </ul>

    <h3>Search</h3>
    <p>both parameters are required for search to work</p>
    <ul>
        <li>search - the item to search for | blank by default</li>
        <li>in - which column to search in | blank by default</li>
    </ul>

    <h3>Sort</h3>
    <p>to invert the sort, add a minus (-) at the start of the column name</p>
    <ul>
        <li>sort - the column to sort by | default sorted by id descending</li>
    </ul>
    <hr>
    <h2>Example GET requests</h2>
    <ul>
        <li><a href="https://comptel-api.herokuapp.com/api/resolutions?page=1&rows=100&sort=-creation_timestamp&in=status&search=STARTED">https://comptel-api.herokuapp.com/api/resolutions?page=1&rows=100&sort=-creation_timestamp&in=status&search=STARTED</a></li>
        <li><a href="https://comptel-api.herokuapp.com/api/fallouts?page=1&rows=100&sort=-creation_timestamp&in=status&search=STARTED">https://comptel-api.herokuapp.com/api/fallouts?page=1&rows=100&sort=-creation_timestamp&in=status&search=STARTED</a></li>
        <li><a href="https://comptel-api.herokuapp.com/api/details/AFOM00013">https://comptel-api.herokuapp.com/api/details/AFOM00013</a></li>
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://localhost:3000');
    </script>
</body>
</html>